name: CI
on:
  pull_request:
    branches: [main]
jobs:
  awesome-Lint:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 0
      - run: npx awesome-lint
