name: Link Checker

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  link-checker:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Link Checker
        uses: lycheeverse/lychee-action@5c4ee84814c983aa7164eaee476f014e53ff3963 # v2.5.0
        with:
          args: >-
            --verbose --no-progress
            --exclude-path '\.github'
            --max-redirects 10
            --accept 200,204,206,403,429
            './*.md'
