name: Link Checker

on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  link-checker:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Link Checker
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: >-
            --verbose --no-progress
            --exclude-path '\.github'
            --max-redirects 10
            --accept 200,204,206,403,429
            './*.md'
